predictionUI/.Dockerfile.swp
predictionUI/html/.index.html.swp
predictionUI/.Dockerfile.swp
predictionUI/html/.index.html.swp
CPlogdRESTService/openshift-templates/.README.swp
CPlogdRESTService/openshift-templates/.logd_service.yaml.swp